<!-- financial_app/templates/financial_app/streamlit_view.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streamlit Integration</title>
</head>
<body>
    <h1>Financial Analysis with Streamlit</h1>

    <!-- Embed Streamlit app using an iframe -->
    <iframe src="http://localhost:8501/" width="100%" height="600"></iframe>
</body>
</html>